body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .content {
    max-width: 600px;
    margin: auto;
  }
  
  #logo {
    width: 150px;
  }
  
  h1 {
    font-size: 3em;
    color: #333;
  }
  
  p {
    font-size: 1.2em;
    color: #666;
    margin: 20px 0;
  }
  
  button {
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 10px;
    background-color: #aa8ef3;
    color: white;
    outline: none;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  button:hover {
    background-color: #768ae5;
    transform: translateY(-2px);
  }
  
  button:active {
    transform: translateY(0);
  }
  